---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  font: 18px/1.4 $helvetica;
  background: linear-gradient(-45deg, #d93d0e, #ab0042, #0529ae, #015b46);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
  margin: 0 auto;
  max-width: 90%;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $white;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $white;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
  background-color: $black;
}

.masthead {
  padding: 20px 0;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: rgba(255, 255, 255, 0.825);
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 500;
  font-size: 48px;
  text-shadow: 0 0 15px #000000;
  letter-spacing: 1px;
  text-align: center;
}

.site-description {
  margin: -5px 4px 0 0;
  color: $white;
  font-size: 12px;
  font-weight: 100;
  text-shadow: 0 0 15px #000000;
  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//


.main {
  height: 100vh;
  width: 70vh;
  margin: auto;
}

.text-section {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.about-info {
  color: white;
  font-weight: 300;
  text-align: justify;
  text-shadow: 0 0 15px #000000;
  font-size: 14px;
}

.posts > .post {
  padding-bottom: 0.1em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    border-left: 2px solid $gray;
    color: $gray;
    font-size: px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  background-color: $black;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 10px;
  text-shadow: 0 10px 25px #000000;
}

.gmail-icon:hover {
  color: rgb(194, 0, 0);
}

.github-icon:hover {
  color: rgb(0, 0, 0);
}

.insta-icon:hover {
  color: rgb(255, 42, 138);
}

.linkedin-icon:hover {
  color: rgb(33, 88, 255);
}

.twitter-icon:hover {
  color: rgb(78, 163, 248);
}

.medium-icon:hover {
  color: rgb(0, 0, 0);
}
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";


// My css